<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lbconsulting.alist_03"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lbconsulting.alist_03.ListsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lbconsulting.alist_03.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.lbconsulting.alist_03.ListsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.alist_03.ListsActivity" />
        </activity>
        <activity
            android:name="com.lbconsulting.alist_03.ColorsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.lbconsulting.alist_03.ListPreferencesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.alist_03.ListPreferencesActivity" />
        </activity>
        <activity
            android:name="com.lbconsulting.alist_03.CheckItemsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.lbconsulting.alist_03.MasterListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.alist_03.MasterListActivity" />
        </activity>
        <activity
            android:name="com.lbconsulting.alist_03.ListPreferencesActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.lbconsulting.alist_03.ListsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.alist_03.ListsActivity" />
        </activity>
        <activity
            android:name="com.lbconsulting.alist_03.MasterListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.lbconsulting.alist_03.ListsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.alist_03.ListsActivity" />
        </activity>
        <activity
            android:name="com.lbconsulting.alist_03.StoresActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.lbconsulting.alist_03.ListsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.alist_03.ManageLocationsActivity" />
        </activity>
        <activity
            android:name="com.lbconsulting.alist_03.ManageLocationsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.lbconsulting.alist_03.ListsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lbconsulting.alist_03.ListsActivity" />
        </activity>
        <provider
            android:name="com.lbconsulting.alist_03.database.contentprovider.AListContentProvider"
            android:authorities="com.lbconsulting.alist_03.contentprovider"
            android:exported="false" >
        </provider>
    </application>
</manifest>